/* Font input */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;900&family=Poppins:wght@400;500;600;700;900&display=swap");
/* font-family: 'Poppins', sans-serif; */
/* font-family: "Playfair Display", serif; */
/* font-family: 'PT Serif', serif; */

/* default style */
img {
   max-width: 100%;
   vertical-align: middle;
}
.title-h1 {
   font-family: "Playfair Display", serif;
   font-size: 60px;
   letter-spacing: 6px;
   font-weight: 700;
   color: #fff;
   margin-bottom: 25px;
}
.title-h2 {
   font-family: "Playfair Display", serif;
   font-size: 48px;
   line-height: 85px;
   font-weight: 700;
   color: #262a37;
   letter-spacing: 0;
   margin-bottom: 25px;
}
.title-h3 {
   font-family: "Playfair Display", serif;
   font-weight: 700;
   letter-spacing: 3px;
   font-size: 30px;
   color: #fff;
   margin: 0;
}
.title-h4 {
   font-family: "Playfair Display";
   font-size: 24px;
   font-weight: 700;
   color: #fff;
   letter-spacing: 1.2px;
   line-height: 38px;
}
.title-h5 {
   font-size: 20px;
   letter-spacing: 1px;
   font-weight: 700;
   font-family: "Poppins", sans-serif;
   color: #fff;
}
.title-h6 {
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   letter-spacing: 0;
}
.paragraph {
   font-family: "Poppins", sans-serif;
   font-size: 20px;
   font-weight: 500;
   line-height: 30px;
   letter-spacing: 0;
   color: #fff;
}
.tag-span {
   font-size: 18px;
   letter-spacing: 0;
   color: #fff;
   display: block;
   margin-bottom: 5px;
}

body {
   font-family: "Poppins", sans-serif;
}
a:focus,
button:focus {
   outline: none;
}
ul,
li {
   list-style: none;
   padding: 0;
   margin: 0;
}

.default-btn {
   max-width: 100%;
   width: 190px;
   font-size: 16px;
   padding: 18px;
   letter-spacing: 1.6px;
   border: none;
   outline: none;
   background: #ff6666;
   color: #fff;
   font-weight: 500;
}
.default-btn:hover {
   background: #ff5050;
}
.padding-bottom-30 {
   padding-bottom: 30px;
}

/* Index 
===================================================== */
header.index-header {
   width: 100%;
   height: 100vh;
   background: #01e1c9 url("../images/home-backgriund.png");
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.main-container {
   width: 100%;
   max-width: 1520px;
   margin: 0 auto;
   padding: 0 40px;
}
/* navbar
===================================================== */
.navbar {
   height: 144px;
}
/* main logo */
.brand-logo {
   font-family: "PT Serif", serif;
   font-size: 30px;
   line-height: 28px;
   font-weight: 700;
   letter-spacing: 18px;
   color: #fff;
}
.articles-details-header .brand-logo,
footer .brand-logo {
   color: #373737;
}
.nav-widget-button {
   font-size: 16px;
   padding: 5px;
   margin: 0 15px;
   color: #fff;
}
.articles-details-header .navbar .nav-widget-button {
   color: #373737;
}
.articles-details-header .navbar .search-icon {
   font-size: 21px;
   color: #8a8a8a;
}
.navbar .menu-button {
   font-size: 26px;
   font-weight: 600;
   letter-spacing: 1.3px;
   color: #fff;
}
.navbar .menu-button span {
   margin-left: 12px;
}
.articles-details-header .navbar .menu-button {
   font-weight: 500;
}
/* navbar end */

/* text slider */
.slider-container {
   width: 100%;
   height: 100%;
   max-height: 436px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.slider-container::before {
   content: "";
   background: url(../images/illus.png);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 0;
   opacity: 0.8;
}

.slider-content {
   z-index: 1;
   text-align: center;
   max-width: 492px;
}
.index-header .title-h1 {
   font-family: "Playfair Display", serif;
   font-size: 120px;
   letter-spacing: 24px;
   font-weight: 700;
   color: #fff;
   margin-bottom: 30px;
}
/* text slide end */
/* Index end */

/* explore start */
.explore {
   width: 100%;
}
.explore .explore-content {
   max-width: 960px;
   margin: 0 auto;
}

.explore .content-link {
   text-decoration: none;
   width: 100%;
   max-height: 217px;
   min-height: 140px;
   height: 11vw;
   border-top: 1px solid #3bd2c4;
   border-right: 1px solid #3bd2c4;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   transition: shadow 0.3s;
}
.explore .left-border .content-link {
   border-left: 1px solid #3bd2c4;
}

.explore .content-link * {
   transition: opacity 0.3s;
}
.explore .content-link:hover * {
   opacity: 1;
}
.explore .content-link.active {
   border: none;
   box-shadow: 0px 5px 50px #2c324833;
   position: relative;
}
.explore .content-link.active * {
   opacity: 1;
}

.explore .content-link.active::before {
   content: "";
   width: 100%;
   height: 10px;
   background: #fff;
   position: absolute;
   top: 0;
   left: 0;
}
.explore .content-link .icon {
   margin-bottom: 25px;
}
.explore .content-link img {
   max-width: 56px;
   min-width: 20px;
}
.explore .content-link .title-h5 {
   letter-spacing: 2px;
   margin: 0;
}
/* explore end */

/* footer
============================================= */
footer {
   width: 100%;
   height: 187px;
   display: flex;
   align-items: center;
}
footer .footer-paragraph {
   font-size: 16px;
   line-height: 28px;
   color: #707070;
   margin-top: 10px;
}
footer .footer-link {
   font-size: 18px;
   line-height: 28px;
   color: #707070;
}
footer .footer-social-icons {
   max-width: 180px;
   display: flex;
   justify-content: space-between;
}
/* footer end */

/* Home popup 
======================================================*/
.home-popup {
   position: relative;
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: unset;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.home-popup-head {
   min-height: 90px;
   display: flex;
}
.close-button {
   width: 100px;
   height: 100%;
   border: none;
   transition: 0.3s;
}

.close-button img {
   width: 21px;
}
.home-popup .head-title {
   display: flex;
   align-items: flex-end;
}
.home-popup .head-title .title-h3 {
   margin-left: 140px;
}
/* Home popup end end */

/* Home Article */
.home-articles {
   background: #588aee url(../images/article_background.png);
}
.home-articles .close-button {
   background: #6a9cff;
}
.home-articles .close-button:hover {
   background: #588aee;
}
.home-article-gallery .text-content .title-h4 {
   padding-top: 25px;
   margin-bottom: 20px;
}
.home-article-gallery .home-article-gallery-container {
   padding: 0 90px;
   max-width: 1940px;
   margin: 0 auto;
}
.home-article-gallery .module-image img {
   width: 240px;
}
.home-article-gallery .read-more-link {
   text-decoration: none;
   font-size: 18px;
   letter-spacing: 0.9px;
   color: #fff;
}
.home-article-gallery .read-more-link:hover {
   text-decoration: underline;
}
.read-more-link i img {
   width: 7px;
}

.home-article-gallery .img-container {
   position: relative;
}
.home-article-gallery .overlay-text {
   position: absolute;
   width: 90%;
   bottom: -90px;
   left: 0;
   background: #588aee;
   padding-left: 30px;
}
/* explore modify */
.home-articles .explore .content-link {
   border-color: #6797f7;
}
.home-articles .explore .content-link * {
   opacity: 0.6;
}
.home-articles .explore .content-link:hover * {
   opacity: 1;
}
.home-articles .explore .content-link.active * {
   opacity: 1;
}
/*Home Article end */

/* Home Projects
============================================== */
.home-projects {
   background: #ffdd3d;
}
.close-button {
   background: #ffe878;
}
.close-button:hover {
   background: #ffdd3d;
}
.home-projects-gallery {
   width: 100%;
}

.home-projects .image-container {
   position: relative;
}
.home-projects .overlay-text {
   position: absolute;
   left: 0;
   bottom: 0;
   padding-left: 20px;
   padding-bottom: 10px;
}
/* explore modify */
.home-projects .explore .content-link {
   border-color: #ffe878;
}
.home-projects .explore .content-link * {
   opacity: 0.8;
}
.home-projects .explore .content-link:hover * {
   opacity: 1;
}
.home-projects .explore .content-link.active {
   box-shadow: 0px 5px 50px #2c324812;
}
.home-projects .explore .content-link.active * {
   opacity: 1;
}
/* home projects end */

/* home Inventions
============================================== */
.home-inventions {
   background: #42cb79;
}
.home-inventions .close-button {
   background: #4adc85;
}
.home-inventions .close-button:hover {
   background: #42cb79;
}
.home-inventions .text-content {
   padding: 20px 0;
}
.home-inventions .title-h4 {
   font-size: 22px;
   letter-spacing: 0.44px;
   line-height: 30px;
}
/* explore modify */
.home-inventions .explore .content-link {
   border-color: #5dd48c;
}
.home-inventions .explore .content-link * {
   opacity: 0.6;
}
.home-inventions .explore .content-link:hover * {
   opacity: 1;
}
.home-inventions .explore .content-link.active * {
   opacity: 1;
}
/* home Inventions end */

/* home musics
============================================= */
.home-musics {
   background: #ff6464;
}
.home-musics .close-button {
   background: #ff8787;
}
.home-musics .close-button:hover {
   background: #ff6464;
}

/* explore modify */
.home-musics .explore .content-link {
   border-color: #e88a8a;
}
.home-musics .explore .content-link * {
   opacity: 0.6;
}
.home-musics .explore .content-link:hover * {
   opacity: 1;
}
.home-musics .explore .content-link.active * {
   opacity: 1;
}
/* home musics end */

/* Articles
=================================================== */
.articles-header {
   width: 100%;
   height: 730px;
   background: #588aee;
}
.articles-header .slider-container {
   max-height: 378px;
   margin-top: 30px;
   align-items: flex-end;
}
.articles-header .slider-container::before {
   background: url("../images/article-edit.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   opacity: 1;
}
.articles-header .slider-content .paragraph {
   font-size: 16px;
   line-height: 28px;
   opacity: 0.9;
   margin-bottom: 25px;
}
.articles-header .social-icons {
   max-width: 170px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}
.articles-header .social-icons li a {
   color: #fff;
   font-size: 24px;
}
/* article post */
.articles-post-container {
   max-width: 1680px;
   margin-left: auto;
   margin-bottom: 160px;
}
.post-date {
   width: 122px;
   padding: 25px;
   border: 1px solid #b3b7c4;
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #6d7384;
   margin-top: 30px;
}
.post-content .post-meta {
   font-size: 18px;
   line-height: 30px;
   color: #969aa8;
   letter-spacing: 0;
   margin-bottom: 35px;
}
.post-content .paragraph {
   width: 66%;
   font-size: 18px;
   line-height: 36px;
   color: #5d6070;
   letter-spacing: 0.18px;
   font-weight: 400;
   margin-bottom: 40px;
}

.articles-post-container .post-carousel .carousel-control-prev,
.articles-post-container .post-carousel .carousel-control-next {
   position: static;
   float: left;
   opacity: 1;
}
.post-carousel .carousel-button {
   width: auto;
   position: absolute;
   left: 0;
   bottom: 0;
   background: #fff;
}
.post-carousel .arrow-icons {
   font-size: 40px;
   color: #707070;
   background: #fff;
   padding: 20px 40px;
}
.post-carousel .carousel-control-prev .arrow-icons::after {
   content: "";
   width: 1px;
   height: 60%;
   background: #eadcdc;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateY(-50%);
}
.post-carousel-inner {
   width: 50%;
   margin-bottom: 30px;
}

/*  */
.seconde-post {
   margin-bottom: 100px;
}
.seconde-post .post-content .paragraph {
   width: 90%;
}
.seconde-post .title-h4 {
   letter-spacing: 0.48px;
   color: #262a37;
   margin-bottom: 50px;
}
.seconde-post .list-number {
   font-size: 24px;
   line-height: 40px;
   font-weight: 600;
   color: #a9aec1;
   text-align: right;
   padding-right: 20px;
}
/* pagination */
.articles-pagination {
   margin-bottom: 140px;
}
.articles-pagination .three-dot {
   font-size: 27px;
   letter-spacing: 3px;
   color: #e7e8ef;
}

/* subscribe news */
.subscribe-news {
   width: 100%;
   height: 394px;
   background: #588aee;
}
.subscribe-news .title-h2 {
   font-size: 42px;
   line-height: 40px;
   letter-spacing: 2.1px;
   color: #fff;
}
.subscribe-news .paragraph {
   color: #fff;
   opacity: 0.6;
   font-weight: 400;
}
.subscribe-news .subscribe-input-content {
   position: relative;
}
.subscribe-news .subscribe-input {
   width: 100%;
   height: 80px;
   border: none;
   font-size: 20px;
   outline: none;
   padding: 0 30px;
}
.subscribe-news .subscribe-input::placeholder {
   color: #a8a8a8;
}
.subscribe-news .input-icon {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 30px;
}

@media (max-width: 1700px) {
   .articles-post-container {
      max-width: 1450px;
   }
   .title-h2 {
      font-size: 40px;
      line-height: 55px;
   }
   .post-content .paragraph {
      width: 85%;
   }
}
@media (max-width: 1500px) {
   .articles-post-container {
      padding-left: 60px;
   }
   .post-content .post-meta {
      margin-bottom: 20px;
   }
   .post-content .paragraph {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;
   }
}
@media (max-width: 1199px) {
   .title-h2 {
      font-size: 35px;
      line-height: 50px;
      margin-bottom: 20px;
   }
   .articles-post-container {
      margin-bottom: 60px;
      padding-left: 40px;
   }
   .post-date {
      width: 100%;
      border: none;
      padding: 10px 0;
      font-size: 16px;
   }
   .subscribe-news .title-h2 {
      font-size: 35px;
   }
   /*  */
   .seconde-post .title-h4 {
      margin-bottom: 40px;
   }
   .seconde-post .list-number {
      font-size: 18px;
      line-height: 30px;
   }
   .seconde-post {
      margin-bottom: 50px;
   }
   .articles-pagination {
      margin-bottom: 60px;
   }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
   .title-h1 {
      font-size: 45px;
   }
   .title-h2 {
      font-size: 28px;
      line-height: 40px;
   }
   .articles-header {
      height: auto;
      padding-bottom: 50px;
   }
   .articles-header .slider-container {
      padding: 0 15px;
   }
   .articles-post-container {
      padding: 0 15px;
   }
   .post-date {
      font-size: 14px;
   }
   .post-content .post-meta {
      font-size: 16px;
   }
   .post-content .paragraph {
      width: 100%;
   }
   .post-carousel .arrow-icons {
      font-size: 30px;
      padding: 15px 30px;
   }
   .subscribe-news .title-h2 {
      font-size: 30px;
      letter-spacing: 1px;
   }
   .subscribe-news .subscribe-input {
      height: 65px;
   }
   .subscribe-news .input-icon img {
      width: 35px;
   }
}
@media (max-width: 575px) {
   .post-carousel-inner {
      width: 100%;
   }
   .post-date {
      margin-top: 0;
   }
   .subscribe-news .title-h2 {
      font-size: 25px;
   }
}
/* Articles end */

/* Articles Details 
============================================== */
.articles-details .title-h3 {
   letter-spacing: 1.5px;
   color: #323743;
   margin-bottom: 40px;
}
.details-post-date {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 20px;
   color: #588aee;
}
.big-c {
   float: left;
   font-size: 48px;
   letter-spacing: 0;
   color: #626978;
   margin-right: 10px;
}
.articles-details .paragraph {
   width: 100%;
   letter-spacing: 0.36px;
   color: #656b78;
}
.articles-check-icon {
   line-height: 36px;
   font-size: 12px;
   color: #588aee;
   padding-right: 10px;
}
.articles-details .title-h4 {
   font-size: 22px;
   line-height: 40px;
   letter-spacing: 1.1px;
   font-style: italic;
   color: #323743;
}
.articles-details .left-bar {
   width: 10px;
   background: #588aee;
   margin-right: 25px;
}
.articles-details .review-and-share {
   height: 60px;
   border-top: 1px solid #e4e4e4;
   border-bottom: 1px solid #e4e4e4;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.articles-details .review-and-share {
   font-size: 14px;
   color: #323743;
}
.articles-details .review-and-share .review i {
   color: #ffb900;
}
.articles-details .review-and-share .review i.last-star {
   color: #dccca1;
}
.articles-details .review-and-share .share i {
   margin-left: 10px;
   color: #a9b0c4;
}
.articles-details .review-and-share i {
   font-size: 12px;
}
.related-articles .title-h3,
.related-articles .title-h4 {
   color: #323743;
}

/* Articles Details */

@media (max-width: 1352px) {
   .home-inventions-gallery {
      height: auto !important;
   }
   .flex-order-1 {
      order: 1;
   }
   .flex-order-2 {
      order: 2;
   }
}

/* responsive 
============================================== */
/* max-width 1600px */
@media only screen and (max-width: 1600px) {
   /* default style */
   .default-btn {
      width: 185px;
      font-size: 14px;
      padding: 16px 28px;
      letter-spacing: 1.4px;
   }
   .title-h4 {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      letter-spacing: 1px;
      line-height: 28px;
   }
   /* home article */
   .home-article-gallery .home-article-gallery-container {
      padding: 0 40px;
   }
   .home-article-gallery .text-content .title-h4 {
      padding-top: 12px;
      margin-bottom: 12px;
   }
   .home-article-gallery .read-more-link {
      font-size: 16px;
   }
   .read-more-link i img {
      width: 6px;
   }
   .home-article-gallery .overlay-text {
      bottom: -68px;
   }
}
/* max-width 1440px */
@media only screen and (max-width: 1440px) {
   .title-h5 {
      font-size: 18px;
      letter-spacing: 1px;
   }
   .index-header .title-h1 {
      font-size: 100px;
      margin-bottom: 20px;
   }
   .paragraph {
      font-size: 18px;
      line-height: 28px;
   }
   .explore .content-link img {
      width: 45px;
   }
   /* home articles */
   .title-h3 {
      font-size: 28px;
   }
   .home-popup-head {
      min-height: 60px;
   }
   .home-popup .head-title .title-h3 {
      margin-left: 100px;
   }
   .close-button img {
      max-height: 60px;
   }
   .close-button {
      width: 70px;
   }
   /* home inventions */
   .home-inventions .title-h4 {
      font-size: 20px;
      letter-spacing: 0.24px;
      line-height: 27px;
   }
}
/* max-width 1200px */
@media only screen and (max-width: 1200px) {
   /* main logo */
   .main-logo {
      width: 150px;
   }
   /* home page */
   .navbar {
      height: 90px;
   }
   .index-header .title-h1 {
      font-size: 80px;
   }
   .title-h5 {
      font-size: 16px;
      letter-spacing: 0.8px;
   }
   .paragraph {
      font-size: 16px;
      line-height: 24px;
   }
   .explore .content-link img {
      width: 38px;
   }
   .explore .content-link .icon {
      margin-bottom: 18px;
   }
   footer .footer-paragraph {
      font-size: 14px;
      margin-top: 5px;
   }
   footer .footer-link {
      font-size: 16px;
   }
   /* home articles */
   .title-h4 {
      font-size: 18px;
   }
   /* home inventions */
   .home-inventions .title-h4 {
      font-size: 17px;
      line-height: 21px;
      margin-bottom: 0;
   }
   .home-inventions .text-content {
      padding: 12px 0;
   }
   .default-btn {
      padding: 16px 22px;
   }
   .tag-span {
      font-size: 14px;
   }
}
/* max-width 991px */
@media only screen and (max-width: 991px) {
   .home-popup {
      height: auto;
   }
   .index-header .title-h1 {
      font-size: 70px;
      margin-bottom: 12px;
   }
   .paragraph {
      font-size: 16px;
      line-height: 24px;
   }
   .explore .content-link .icon {
      margin-bottom: 15px;
   }
}
/* max-width 768px */
@media only screen and (max-width: 767px) {
   .title-h3 {
      font-size: 24px;
   }
   /* home page */
   .main-container {
      padding: 0 15px;
   }
   /* home articles */
   .home-article-gallery .home-article-gallery-container {
      padding: 0 20px;
   }
   .home-article-gallery .overlay-text {
      padding-top: 10px;
   }
   .home-popup .head-title {
      width: 100%;
      justify-content: flex-end;
      margin-right: 40px;
   }
   .home-article-gallery .text-content .title-h4 {
      padding-top: 5px;
   }
}
/* max-width 576px */
@media only screen and (max-width: 576px) {
   .default-btn {
      width: 100%;
   }
   /* .home-articles */
   .home-article-gallery .text-content .title-h4 {
      padding-top: 0;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 600;
   }
   .home-article-gallery .read-more-link {
      font-size: 14px;
   }
   .read-more-link i img {
      width: 5px;
   }
   .home-popup .head-title {
      margin-right: 20px;
   }
}
/* mx-width 440 */
@media only screen and (max-width: 440px) {
   .title-h6 {
      font-size: 14px;
   }
}

/* min and max width */
/* 992px to 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
   .home-articles .default-btn {
      font-size: 13px;
      padding: 14px 20px;
      letter-spacing: 0.2px;
   }
}
/* responsive end */
