/* Font input */
@import url("./google/google-font.css");
/* font-family: 'Poppins', sans-serif; */
/* font-family: "Playfair Display", serif; */
/* font-family: 'PT Serif', serif; */

/* bootstrap */
@import url(./bootstrap/bootstrap.min.css);

/* default style */
img {
   max-width: 100%;
   vertical-align: middle;
}
.fw-900 {
   font-weight: 900 !important;
}
.fw-700 {
   font-weight: 700 !important;
}
.fw-600 {
   font-weight: 600 !important;
}
.f-family-poppins {
   font-family: "Poppins", sans-serif !important;
}
.title-h1 {
   font-family: "Playfair Display", serif;
   font-size: 60px;
   line-height: 90px;
   letter-spacing: 6px;
   font-weight: 900;
   color: #fff;
   margin-bottom: 25px;
}
.title-h2 {
   font-family: "Playfair Display", serif;
   font-size: 48px;
   line-height: 85px;
   font-weight: 700;
   letter-spacing: 1.44px;
   color: #262a37;
   margin-bottom: 25px;
}
.title-h3 {
   font-family: "Playfair Display", serif;
   font-weight: 700;
   letter-spacing: 3px;
   font-size: 30px;
   line-height: 50px;
   color: #fff;
   margin-bottom: 25px;
}
.title-h3.big-h3 {
   font-size: 36px;
   line-height: 60px;
   letter-spacing: 1.08px;
}
.title-h3.small-h3 {
   font-size: 26px;
   line-height: 48px;
   letter-spacing: 0.52px;
   margin-bottom: 15px;
}
.title-h4 {
   font-family: "Playfair Display";
   font-size: 24px;
   font-weight: 700;
   color: #fff;
   letter-spacing: 1.2px;
   line-height: 38px;
}
.title-h5 {
   font-size: 20px;
   letter-spacing: 1px;
   font-weight: 700;
   font-family: "Poppins", sans-serif;
   color: #fff;
}
.title-h6 {
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   letter-spacing: 0;
}
.paragraph {
   font-family: "Poppins", sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 36px;
   letter-spacing: 0.36px;
   text-align: justify;
   color: #656b78;
}
.paragraph.small-p {
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0px;
}
.paragraph.big-p {
   font-size: 20px;
   letter-spacing: 0;
}
.tag-span {
   font-size: 18px;
   letter-spacing: 0;
   color: #fff;
   display: block;
   margin-bottom: 5px;
}

body {
   font-family: "Poppins", sans-serif;
}
a:focus,
button:focus {
   outline: none;
}
ul,
li {
   list-style: none;
   padding: 0;
   margin: 0;
}

.default-btn {
   max-width: 100%;
   width: 190px;
   font-size: 16px;
   padding: 18px;
   letter-spacing: 1.6px;
   border: none;
   outline: none;
   background: #ff6666;
   color: #fff;
   font-weight: 500;
}
.default-btn:hover {
   background: #ff5050;
}
.padding-bottom-30 {
   padding-bottom: 30px;
}

/* Index 
===================================================== */
.layout {
   overflow: hidden;
}
header.index-header {
   width: 100%;
   min-height: 900px;
   height: 100vh;
   background: #01e1c9 url("../images/home-backgriund.png");
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.main-container {
   width: 100%;
   max-width: 1520px;
   margin: 0 auto;
   padding: 0 40px;
}
/* navbar
===================================================== */
.navbar {
   height: 144px;
}
/* main logo */
.brand-logo {
   font-family: "PT Serif", serif;
   font-size: 30px;
   line-height: 28px;
   font-weight: 700;
   letter-spacing: 18px;
   color: #fff;
}
.light-header-theme .brand-logo,
footer .brand-logo {
   color: #373737;
}
.nav-widget-button {
   font-size: 16px;
   padding: 5px;
   margin: 0 15px;
   color: #fff;
}
.light-header-theme .navbar .nav-widget-button {
   color: #373737;
}
.light-header-theme .navbar .search-icon {
   font-size: 21px;
   color: #8a8a8a;
}
.navbar .menu-button {
   font-size: 26px;
   font-weight: 600;
   letter-spacing: 1.3px;
   color: #fff;
}
.navbar .menu-button span {
   margin-left: 12px;
}
.light-header-theme .navbar .menu-button {
   font-weight: 500;
}
/* navbar end */

/* text slider */
.slider-container {
   width: 100%;
   height: 436px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.slider-container::before {
   content: "";
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 0;
}
.index-header .slider-container::before {
   opacity: 0.8;
   background: url(../images/illus.png);
   background-position-x: center;
}
.slider-content {
   z-index: 1;
   text-align: center;
   max-width: 492px;
}
.index-header .title-h1 {
   font-family: "Playfair Display", serif;
   font-size: 120px;
   letter-spacing: 24px;
   font-weight: 700;
   color: #fff;
   margin-bottom: 30px;
}
/* text slide end */
/* Index end */

/* explore start */
.explore {
   width: 100%;
}
.explore .explore-content {
   max-width: 960px;
   margin: 0 auto;
}

.explore .content-link {
   text-decoration: none;
   width: 100%;
   max-height: 217px;
   min-height: 140px;
   height: 11vw;
   border-top: 1px solid #3bd2c4;
   border-right: 1px solid #3bd2c4;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   transition: shadow 0.3s;
}
.explore .left-border .content-link {
   border-left: 1px solid #3bd2c4;
}

.explore .content-link * {
   transition: opacity 0.3s;
}
.explore .content-link:hover * {
   opacity: 1;
}
.explore .content-link.active {
   border: none;
   box-shadow: 0px 5px 50px #2c324833;
   position: relative;
}
.explore .content-link.active * {
   opacity: 1;
}

.explore .content-link.active::before {
   content: "";
   width: 100%;
   height: 10px;
   background: #fff;
   position: absolute;
   top: 0;
   left: 0;
}
.explore .content-link .icon {
   margin-bottom: 25px;
}
.explore .content-link img {
   max-width: 56px;
   min-width: 20px;
}
.explore .content-link .title-h5 {
   letter-spacing: 2px;
   margin: 0;
}
/* explore end */

/* footer
============================================= */
footer {
   width: 100%;
   height: 187px;
   display: flex;
   align-items: center;
}
footer .footer-paragraph {
   font-size: 16px;
   line-height: 28px;
   color: #707070;
   margin-top: 10px;
}
footer .footer-link {
   font-size: 18px;
   line-height: 28px;
   color: #707070;
}
footer .footer-social-icons {
   max-width: 180px;
   display: flex;
   justify-content: space-between;
}
footer .footer-social-icons a {
   color: #707070;
   font-size: 21px;
}
/* footer end */

/* Home popup 
======================================================*/
.home-popup {
   position: relative;
   width: 100%;
   min-height: 900px;
   height: 100vh;
   background-size: cover;
   background-position: unset;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.home-popup-head {
   min-height: 90px;
   display: flex;
}
.close-button {
   width: 100px;
   height: 100%;
   border: none;
   transition: 0.3s;
}

.close-button img {
   width: 21px;
}
.home-popup .head-title {
   display: flex;
   align-items: flex-end;
}
.home-popup .head-title .title-h3 {
   margin-bottom: 0;
   margin-left: 140px;
}
/* Home popup end end */

/* Home Article */
.home-articles {
   background: #588aee;
}
.home-articles .close-button {
   background: #6a9cff;
}
.home-articles .close-button:hover {
   background: #588aee;
}
.home-article-gallery .text-content .title-h4 {
   padding-top: 25px;
   margin-bottom: 20px;
}
.home-article-gallery .home-article-gallery-container {
   padding: 0 90px;
   max-width: 1940px;
   margin: 0 auto;
}
.home-article-gallery .module-image img {
   width: 240px;
}
.home-article-gallery .read-more-link {
   text-decoration: none;
   font-size: 18px;
   letter-spacing: 0.9px;
   color: #fff;
}
.home-article-gallery .read-more-link:hover {
   text-decoration: underline;
}
.read-more-link i img {
   width: 7px;
}

.home-article-gallery .img-container {
   position: relative;
}
.home-article-gallery .overlay-text {
   position: absolute;
   width: 90%;
   bottom: -90px;
   left: 0;
   background: #588aee;
   padding-left: 30px;
}
/* explore modify */
.home-articles .explore .content-link {
   border-color: #6797f7;
}
.home-articles .explore .content-link * {
   opacity: 0.6;
}
.home-articles .explore .content-link:hover * {
   opacity: 1;
}
.home-articles .explore .content-link.active * {
   opacity: 1;
}
/*Home Article end */

/* Home Projects
============================================== */
.home-projects {
   background: #ffdd3d;
}
.close-button {
   background: #ffe878;
}
.close-button:hover {
   background: #ffdd3d;
}
.home-projects-gallery {
   width: 100%;
}

.image-container {
   position: relative;
}
.overlay-text {
   position: absolute;
   left: 0;
   bottom: 0;
   padding-left: 20px;
   padding-bottom: 10px;
}
/* explore modify */
.home-projects .explore .content-link {
   border-color: #ffe878;
}
.home-projects .explore .content-link * {
   opacity: 0.8;
}
.home-projects .explore .content-link:hover * {
   opacity: 1;
}
.home-projects .explore .content-link.active {
   box-shadow: 0px 5px 50px #2c324812;
}
.home-projects .explore .content-link.active * {
   opacity: 1;
}
/* home projects end */

/* home Inventions
============================================== */
.home-inventions {
   background: #42cb79;
}
.home-inventions a:hover {
   text-decoration: none;
}
.home-inventions .close-button {
   background: #4adc85;
}
.home-inventions .close-button:hover {
   background: #42cb79;
}
.home-inventions .text-content {
   padding: 20px 0;
}
.home-inventions .title-h4 {
   font-size: 22px;
   letter-spacing: 0.44px;
   line-height: 30px;
}
/* explore modify */
.home-inventions .explore .content-link {
   border-color: #5dd48c;
}
.home-inventions .explore .content-link * {
   opacity: 0.6;
}
.home-inventions .explore .content-link:hover * {
   opacity: 1;
}
.home-inventions .explore .content-link.active * {
   opacity: 1;
}
@media (max-width: 1352px) {
   .home-inventions-gallery {
      height: auto !important;
   }
   .flex-order-1 {
      order: 1;
   }
   .flex-order-2 {
      order: 2;
   }
}
/* home Inventions end */

/* home musics
============================================= */
.home-musics {
   background: #ff6464;
}
.home-musics .close-button {
   background: #ff8787;
}
.home-musics .close-button:hover {
   background: #ff6464;
}

/* explore modify */
.home-musics .explore .content-link {
   border-color: #e88a8a;
}
.home-musics .explore .content-link * {
   opacity: 0.6;
}
.home-musics .explore .content-link:hover * {
   opacity: 1;
}
.home-musics .explore .content-link.active * {
   opacity: 1;
}
/* home musics end */

/* second header slider 
==================================================*/
.second-header {
   width: 100%;
   height: 730px;
}
.second-header .slider-content .paragraph {
   font-size: 16px;
   line-height: 28px;
   opacity: 0.9;
   margin-bottom: 25px;
}

/* rectangle box background
=============================================== */
.rectangle-box {
   position: absolute;
   width: 240px;
   height: 220px;
   touch-action: none;
   pointer-events: none;
}
.rectangle-box::after {
   content: "";
   width: 90px;
   height: 80px;
   position: absolute;
   top: 0;
   right: 0;
}
.rectangle-box.box-a {
   top: 0;
   left: 0;
}
.rectangle-box.box-b {
   top: 0;
   left: 50%;
}
.rectangle-box.box-c {
   right: 0;
   bottom: 0;
}
/* rectangle end */

/* Articles
=================================================== */
.articles-header {
   background: #588aee;
}
.articles-header .slider-container {
   height: 378px;
   margin-top: 30px;
   align-items: flex-end;
}
.articles-header .slider-container::before {
   background: url("../images/article-edit.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   opacity: 1;
}
.articles-header .social-icons {
   max-width: 170px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}
.articles-header .social-icons li a {
   color: #fff;
   font-size: 24px;
}
/* article post */
.articles-post-container {
   max-width: 1680px;
   margin-left: auto;
   margin-bottom: 160px;
}
.post-date {
   width: 122px;
   padding: 25px;
   border: 1px solid #b3b7c4;
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #6d7384;
   margin-top: 30px;
}
.post-content .post-meta {
   font-size: 18px;
   line-height: 30px;
   color: #969aa8;
   letter-spacing: 0;
   margin-bottom: 35px;
}
.post-content .paragraph {
   width: 75%;
   font-size: 18px;
   line-height: 36px;
   color: #5d6070;
   letter-spacing: 0.18px;
   font-weight: 400;
   margin-bottom: 40px;
}

.articles-post-container .post-carousel .carousel-control-prev,
.articles-post-container .post-carousel .carousel-control-next {
   position: static;
   float: left;
   opacity: 1;
}
.post-carousel .carousel-button {
   width: auto;
   position: absolute;
   left: 0;
   bottom: 0;
   background: #fff;
}
.post-carousel .arrow-icons {
   font-size: 40px;
   color: #707070;
   background: #fff;
   padding: 20px 40px;
}
.post-carousel .carousel-control-prev .arrow-icons::after {
   content: "";
   width: 1px;
   height: 60%;
   background: #eadcdc;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateY(-50%);
}
.post-carousel-inner {
   width: 50%;
   margin-bottom: 30px;
}

/*  */
.seconde-post {
   margin-bottom: 100px;
}
.seconde-post .post-content .paragraph {
   width: 90%;
}
.seconde-post .title-h4 {
   letter-spacing: 0.48px;
   color: #262a37;
   margin-bottom: 50px;
}
.seconde-post .list-number {
   font-size: 24px;
   line-height: 40px;
   font-weight: 600;
   color: #a9aec1;
   text-align: right;
   padding-right: 20px;
}
/* pagination */
.articles-pagination {
   margin-bottom: 140px;
}
.articles-pagination .three-dot {
   font-size: 27px;
   letter-spacing: 3px;
   color: #e7e8ef;
}

/* subscribe news 
=============================================*/
.subscribe-news {
   width: 100%;
   height: 394px;
   background: #588aee;
}
.subscribe-news .title-h2 {
   font-size: 42px;
   line-height: 40px;
   letter-spacing: 2.1px;
   color: #fff;
}
.subscribe-news .paragraph {
   color: #fff;
   opacity: 0.6;
   font-weight: 400;
}
.subscribe-news .subscribe-input-content {
   position: relative;
}
.subscribe-news .subscribe-input {
   width: 100%;
   height: 80px;
   border: none;
   font-size: 20px;
   outline: none;
   padding: 0 30px;
}
.subscribe-news .subscribe-input::placeholder {
   color: #a8a8a8;
}
.subscribe-news .input-icon {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 30px;
}

@media (max-width: 1700px) {
   .articles-post-container {
      max-width: 1450px;
   }
   .title-h2 {
      font-size: 40px;
      line-height: 55px;
   }
   .post-content .paragraph {
      width: 85%;
   }
}
@media (max-width: 1500px) {
   .articles-post-container {
      padding-left: 60px;
   }
   .post-content .post-meta {
      margin-bottom: 20px;
   }
   .post-content .paragraph {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;
   }
}
@media (max-width: 1199px) {
   .title-h2 {
      font-size: 35px;
      line-height: 50px;
      margin-bottom: 20px;
   }
   .articles-post-container {
      margin-bottom: 60px;
      padding-left: 40px;
   }
   .post-date {
      width: 100%;
      border: none;
      padding: 10px 0;
      font-size: 16px;
   }
   .subscribe-news .title-h2 {
      font-size: 35px;
   }
   /*  */
   .seconde-post .title-h4 {
      margin-bottom: 40px;
   }
   .seconde-post .list-number {
      font-size: 18px;
      line-height: 30px;
   }
   .seconde-post {
      margin-bottom: 50px;
   }
   .articles-pagination {
      margin-bottom: 60px;
   }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
   .title-h1 {
      font-size: 45px;
      letter-spacing: 4px;
   }
   .title-h2 {
      font-size: 28px;
      line-height: 40px;
   }
   .articles-header {
      height: auto;
      padding-bottom: 50px;
   }
   .articles-header .slider-container::before {
      background-size: auto;
   }
   .articles-post-container {
      padding: 0 30px;
   }
   .post-date {
      font-size: 14px;
   }
   .post-content .post-meta {
      font-size: 16px;
   }
   .post-content .paragraph {
      width: 100%;
   }
   .post-carousel .arrow-icons {
      font-size: 30px;
      padding: 15px 30px;
   }
   .subscribe-news .title-h2 {
      font-size: 30px;
      letter-spacing: 1px;
   }
   .subscribe-news .subscribe-input {
      height: 65px;
   }
   .subscribe-news .input-icon img {
      width: 35px;
   }
}
@media (max-width: 575px) {
   .post-carousel-inner {
      width: 100%;
   }
   .post-date {
      margin-top: 0;
   }
   .subscribe-news .title-h2 {
      font-size: 25px;
   }
}
/* Articles end */

/* Articles Details 
============================================== */
.articles-details .title-h3 {
   letter-spacing: 1.5px;
   color: #323743;
   margin-bottom: 40px;
}
.details-post-date {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 20px;
   color: #588aee;
}
.big-c {
   float: left;
   font-size: 48px;
   letter-spacing: 0;
   color: #626978;
   margin-right: 10px;
}
.articles-details .paragraph {
   width: 100%;
   letter-spacing: 0.36px;
   color: #656b78;
}
.articles-check-icon {
   line-height: 36px;
   font-size: 12px;
   color: #588aee;
   padding-right: 10px;
}
.articles-details .title-h4 {
   font-size: 22px;
   line-height: 40px;
   letter-spacing: 1.1px;
   font-style: italic;
   color: #323743;
}
.articles-details .left-bar {
   width: 10px;
   background: #588aee;
   margin-right: 25px;
}
.articles-details .review-and-share {
   height: 60px;
   border-top: 1px solid #e4e4e4;
   border-bottom: 1px solid #e4e4e4;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.articles-details .review-and-share {
   font-size: 14px;
   color: #323743;
}
.articles-details .review-and-share .review i {
   color: #ffb900;
}
.articles-details .review-and-share .review i.last-star {
   color: #dccca1;
}
.articles-details .review-and-share .share i {
   margin-left: 10px;
   color: #a9b0c4;
}
.articles-details .review-and-share i {
   font-size: 12px;
}
.related-articles .title-h3,
.related-articles .title-h4 {
   color: #323743;
}

/* Articles Details end */

/* Inventions 
============================================= */
.inventions-header {
   background: #42cb79;
}
.inventions-header .illus-background {
   height: 100%;
   background: url("../images/invention.png");
   background-repeat: no-repeat;
   background-position-x: right;
}
.inventions-header .slider-container {
   justify-content: flex-start;
}
.inventions-header .slider-content {
   text-align: left;
   padding-left: 80px;
   padding-top: 60px;
}
.inventions-body {
   padding: 140px 0;
}
.inventions-body .image-container {
   position: relative;
}
.inventions-body .overlay-text {
   position: absolute;
   width: 70%;
   height: calc(100% - 90px);
   background: #fff;
   top: 90px;
   left: calc(100% - 130px);
}
.inventions-body .big-image {
   padding-left: 130px;
}
.inventions-body .paragraph {
   color: #42cb79;
   margin-bottom: 8px;
}
.inventions-body .big-image .paragraph {
   font-size: 18px;
   padding-top: 80px;
}
.inventions-body .title-h3 {
   line-height: 44px;
   letter-spacing: 0.6px;
   color: #262a37;
   margin-bottom: 100px;
}
.inventions-body .small-image {
   padding-left: 45px;
}
.inventions-body .small-image .paragraph {
   padding-top: 50px;
   font-size: 16px;
}
.inventions-body .title-h4 {
   line-height: 40px;
   letter-spacing: 0.48px;
   color: #262a37;
   margin-bottom: 80px;
}
.inventions-body .padding-y {
   padding: 100px 0;
}
.inventions-body .overlay-text.content-left {
   left: auto;
   right: calc(100% - 130px);
   padding-left: 0;
   padding-right: 130px;
   text-align: right;
}
.inventions-body .overlay-text.content-left .paragraph {
   text-align: right;
}
.subscribe-news.inventions-subscribe {
   background: #42cb79;
}
@media (max-width: 1400px) {
   .inventions-body .overlay-text {
      height: calc(100% - 70px);
      top: 70px;
   }
   .inventions-body .title-h3 {
      margin-bottom: 60px;
   }
   .inventions-body .big-image .paragraph {
      padding-top: 50px;
   }
   .inventions-body .overlay-text {
      width: 70%;
   }
   .inventions-body .overlay-text.small-image {
      width: 90%;
   }
   .inventions-body .title-h4 {
      margin-bottom: 20px;
   }
   .inventions-body .small-image .paragraph {
      padding-top: 30px;
   }
}
@media (max-width: 1050px) {
   .inventions-body .overlay-text {
      height: calc(100% - 70px);
      top: 70px;
   }
   .inventions-body .title-h3 {
      margin-bottom: 40px;
      line-height: 40px;
   }
   .inventions-body .big-image .paragraph {
      padding-top: 30px;
   }
   .inventions-body .overlay-text {
      width: 75%;
   }
   .inventions-body .overlay-text.small-image {
      width: 70%;
   }
   .inventions-body .title-h4 {
      margin-bottom: 20px;
      line-height: 28px;
   }
   .inventions-body .small-image .paragraph {
      padding-top: 20px;
   }
}
@media (max-width: 991px) {
   .inventions-body .overlay-text {
      width: 50%;
      height: 100%;
      top: 0;
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .inventions-body .overlay-text.content-left {
      left: auto;
      right: 50%;
      padding-right: 40px;
   }
   .inventions-body .overlay-text.small-image {
      width: 50%;
   }
   .inventions-body .big-image {
      padding-left: 40px;
   }
   .inventions-body .title-h3 {
      margin-bottom: 100px;
   }
   .inventions-body .image-align-right {
      text-align: right;
   }
   .inventions-body .image-align-right .overlay-text.small-image {
      left: auto;
      right: 50%;
      padding-left: 0;
      padding-right: 40px;
   }
   .inventions-body .image-align-right .paragraph {
      text-align: right;
   }
   .inventions-body .padding-y {
      padding: 3rem 0;
   }
   .inventions-body .title-h4 {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0.6px;
      margin-bottom: 100px;
   }
   @media (max-width: 767px) {
      .inventions-body {
         padding: 80px 0;
      }
      .inventions-body .overlay-text,
      .inventions-body .image-align-right .overlay-text.small-image,
      .inventions-body .overlay-text.content-left,
      .inventions-body .overlay-text.small-image {
         position: relative;
         top: auto;
         left: auto;
         right: auto;
         padding: 0;
         width: 100%;
         text-align: left !important;
         margin-bottom: 40px;
      }
      .inventions-body .title-h3,
      .inventions-body .title-h4 {
         font-size: 24px;
         line-height: 36px;
      }
      .inventions-body .image-align-right,
      .inventions-body .image-align-right .paragraph,
      .inventions-body .overlay-text.content-left .paragraph {
         text-align: left;
      }
      .inventions-body .title-h3,
      .inventions-body .title-h4 {
         margin-bottom: 30px;
      }
   }
}

/* responsive */
@media (max-width: 767px) {
   .inventions-header .slider-container {
      justify-content: center;
   }
   .inventions-header .slider-content {
      text-align: center;
      padding-left: 0;
   }
   .inventions-header .illus-background {
      background-position-x: center;
   }
}

/* Inventions end */

/* Inventions details */
.inventions-details-header .title-h1 {
   color: #42cb79;
}
.inventions-details-header .paragraph {
   color: #262a37;
}
.light-post .paragraph {
   font-size: 18px;
   line-height: 36px;
   color: #656b78;
   margin-bottom: 2rem;
}
.light-post .title-h3 {
   font-weight: 900;
   color: #262a37;
   margin-bottom: 2rem;
}
.products-features .content {
   display: flex;
   /* align-items: center; */
   margin-bottom: 2rem;
}
.products-features .green-box {
   width: 10px;
   height: 10px;
   background: #42cb79;
   line-height: 36px;
   margin-right: 15px;
   margin-top: 11px;
}
.products-features .content .paragraph {
   margin-bottom: 0;
}
.products-features > .paragraph {
   font-size: 16px;
   line-height: 30px;
}
.inventions-video iframe {
   width: 100%;
   height: 500px;
}
.inventions-table {
   overflow-x: auto;
}
.inventions-table th {
   font-weight: 500;
   color: #262a37;
   padding: 30px;
   background: #ebeef5;
}
.inventions-table td {
   padding: 25px 30px;
}
.social-share {
   margin-top: 80px;
   margin-bottom: 100px;
}
.social-share a {
   display: inline-block;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border: 1px solid #a9b4c4;
   border-radius: 2px;
   text-align: center;
   margin-right: 15px;
}
.social-share a i {
   color: #a9b4c4;
}

/* responsive */
@media (max-width: 767px) {
   .inventions-video iframe {
      height: 300px;
   }
}
/* Inventions details end */

/* projects
============================================= */
.projects-header {
   position: relative;
   background: #ffdd3d;
}
.projects-header::after {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-image: url("../images/project.png");
   background-repeat: no-repeat;
   background-position: bottom;
   touch-action: none;
   pointer-events: none;
}
.title-h1.radial-background {
   display: inline-block;
   margin-bottom: 0;
   background-image: radial-gradient(#cb8a8a 1px, transparent 1px);
   background-clip: padding-box;
   background-size: 15px 15px;
   font-weight: 900;
   padding-bottom: 30px;
}
.elevator-section {
   margin-top: 140px;
   margin-bottom: 100px;
}
.projects-section-1 {
   position: relative;
   padding-bottom: 180px;
}
.projects-section-1 .overlay-text {
   padding-left: 35px;
   padding-bottom: 30px;
}
.projects-section-1 .overlay-text .title-h4 {
   font-family: "Poppins", sans-serif;
   font-weight: 500;
}
.projects-section-1::after {
   content: "";
   width: 83.33%;
   height: 50%;
   background: #ffdd3d;
   background-image: radial-gradient(#cb8a8a 3px, transparent 3px);
   background-size: 50px 50px;
   position: absolute;
   left: 8.33%;
   top: 25%;
   z-index: -1;
}

/* rectangle modify */
.projects-rectangle-box .rectangle-box {
   background: #ffdf48;
}
.projects-rectangle-box .rectangle-box::after {
   background: #ffe360;
}

.projects-section-1 .rectangle-box {
   width: 250px;
   height: 250px;
   background: #ff6666;
   z-index: -1;
}
.projects-section-1 .rectangle-box::after {
   background: #ff6e6e;
}
.projects-section-1 .rectangle-box.box-1 {
   top: -80px;
   left: -90px;
}
.projects-section-1 .rectangle-box.box-1::after {
   top: 0;
   left: 0;
}
.projects-section-1 .rectangle-box.box-2 {
   left: auto;
   top: auto;
   bottom: -80px;
   right: -90px;
}
.projects-section-1 .rectangle-box.box-2::after {
   top: auto;
   left: auto;
   bottom: 0;
   right: 0;
}
.spacee-section {
   position: relative;
   margin-top: 170px;
}
.spacee-container {
   height: 610px;
   background: #37352e;
   background-image: radial-gradient(#73726d 2px, transparent 2px);
   background-size: 60px 60px;
   display: flex;
   align-items: center;
}
.spacee-text {
   margin-left: 140px;
   width: 100%;
   max-width: 469px;
   height: 243px;
   background: #37352e;
   padding: 50px 25px 0;
   text-align: center;
}
.spacee-section .overlay-image {
   position: absolute;
   top: -170px;
   left: 50%;
   z-index: 1;
}
.spacee-section .title-h4 {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
}
.spacee-section .spacee-text .title-h4 {
   font-size: 24px;
}
.spacee-text .paragraph {
   font-size: 16px;
   line-height: 28px;
   text-align: center;
}
.dynamo-section {
   padding: 200px 0;
}
.dynamo-section .title-h4 {
   font-family: "Poppins", sans-serif;
}
.dynamo-section .rectangle-box {
   width: 250px;
   height: 250px;
   background: #ff6666;
   z-index: -1;
}
.dynamo-section .rectangle-box::after {
   background: #ff6e6e;
}
.dynamo-section .rectangle-box.box-2 {
   top: -80px;
   right: -90px;
}
.dynamo-section .rectangle-box.box-2::after {
   top: 0;
   right: 0;
}
.dynamo-section .rectangle-box.box-1 {
   left: auto;
   top: auto;
   bottom: -80px;
   right: -90px;
}
.dynamo-section .rectangle-box.box-1::after {
   top: auto;
   left: auto;
   bottom: 0;
   right: 0;
}
.dynamo-section .title-h4 {
   font-weight: 600;
}

.spacee-section-2 .spacee-container {
   justify-content: flex-end;
   background: #ffdd3d;
   background-image: radial-gradient(#cb8a8a 2px, transparent 2px);
   background-size: 60px 60px;
}
.spacee-section-2 .spacee-text {
   margin-left: 0;
   margin-right: 140px;
   background: #ffdd3d;
}
.spacee-section-2.spacee-section .overlay-image {
   left: auto;
   right: 50%;
}
.spacee-section-2 .rectangle-box {
   width: 250px;
   height: 250px;
   background: #ff6666;
   z-index: -1;
   bottom: -80px;
   left: -90px;
}
.spacee-section-2 .rectangle-box::after {
   background: #ff6e6e;
   top: auto;
   right: auto;
   left: 0;
   bottom: 0;
}

.you-have-projects {
   margin-top: 140px;
   background: #ffdd3d;
   height: 490px;
   display: flex;
   align-items: center;
   position: relative;
}
.you-have-projects .title-h1 {
   letter-spacing: 1.8px;
   color: #505050;
}
.you-have-projects .paragraph {
   font-size: 22px;
   line-height: 40px;
   letter-spacing: 0.44px;
   color: #505050;
}

/* projects details */
.header-title {
   text-align: center;
}
.header-title .title-h2 {
   display: inline-block;
   padding: 20px 40px 40px;
   background-image: radial-gradient(#e1bf24 1px, transparent 1px);
   background-size: 15px 15px;
   font-size: 48px;
   letter-spacing: 2.4px;
   margin-bottom: 15px;
}
.image-slider-container {
   max-width: 1720px;
   padding-right: 40px;
}
.image-slider-container .rectangle-box {
   width: 180px;
   height: 180px;
   background: #ff6666;
   top: 36px;
   right: -150px;
   z-index: 1;
}
.image-slider-container .rectangle-box::after {
   width: 70px;
   height: 60px;
   background: #ff6e6e;
   right: 0;
   top: 0;
}
.image-slider-container .image-container::after {
   content: "";
   position: absolute;
   top: 10%;
   width: 60px;
   height: 82%;
   background: #ffdd3d;
   background-image: radial-gradient(#cb8a8a 1px, transparent 1px);
   background-size: 30px 30px;
}
.image-slider-container .image-container img {
   position: relative;
   z-index: 2;
}
.aliquyam-text .f-family-poppins,
.aliquyam-text .paragraph {
   color: #656b78;
}
.projects-details-line {
   border-bottom: 2px solid #c7ccde;
   margin: 60px 0;
}
.consetetur-text {
   width: 50%;
}
/* responsive */
@media (max-width: 1500px) {
   .consetetur-text {
      width: 70%;
   }
}
@media (max-width: 1680px) {
   .image-slider-container {
      overflow: hidden;
   }
}
@media (max-width: 1350px) {
   .you-have-projects .title-h1 {
      font-size: 55px;
      letter-spacing: 1.6px;
   }
}
@media (max-width: 1300px) {
   .spacee-text {
      margin-left: 50px;
   }
   .spacee-section .overlay-image {
      top: -100px;
   }
   .spacee-section-2 .spacee-text {
      margin-right: 50px;
   }
   .spacee-section-2.spacee-section .overlay-image {
      top: -100px;
   }
}
@media (max-width: 1100px) {
   .you-have-projects .title-h1 {
      font-size: 50px;
      letter-spacing: 1.5px;
   }
}
@media (max-width: 991px) {
   .spacee-section .overlay-image {
      left: 45%;
   }
   .spacee-section-2.spacee-section .overlay-image {
      right: 45%;
   }
   .projects-section-1 {
      padding-bottom: 90px;
   }
   .consetetur-text {
      width: 100%;
   }
}
@media (max-width: 767px) {
   .projects-section-1 {
      padding-bottom: 0px;
   }
   .spacee-container {
      height: 400px;
      justify-content: center;
   }
   .spacee-text {
      height: auto;
      padding: 20px;
      margin-left: 0;
   }
   .spacee-section-2 .spacee-container {
      justify-content: center;
   }
   .spacee-section-2 .spacee-text {
      margin-right: 0;
   }
   .spacee-section-2.spacee-section {
      margin-top: 0;
   }
   .spacee-section .overlay-image {
      position: static;
   }
   .dynamo-section {
      padding: 170px 0;
   }
   .you-have-projects .title-h1 {
      font-size: 40px;
      letter-spacing: 1.2px;
      line-height: 60px;
   }
   .you-have-projects {
      margin-top: 100px;
   }
   .image-slider-container {
      padding-right: 30px;
   }
   .image-slider-container .rectangle-box {
      width: 120px;
      height: 120px;
      top: 20px;
      right: -70px;
   }
   .header-title .title-h2 {
      font-size: 45px;
   }
}
@media (max-width: 575px) {
   .image-slider-container .rectangle-box {
      width: 100px;
      height: 100px;
      top: 15px;
      right: -80px;
   }
}
/* projects end */

/* responsive 
============================================== */
/* max-width 1600px */
@media only screen and (max-width: 1600px) {
   /* default style */
   .default-btn {
      width: 185px;
      font-size: 14px;
      padding: 16px 28px;
      letter-spacing: 1.4px;
   }
   .title-h4 {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      letter-spacing: 1px;
      line-height: 28px;
   }
   /* home article */
   .home-article-gallery .home-article-gallery-container {
      padding: 0 40px;
   }
   .home-article-gallery .text-content .title-h4 {
      padding-top: 12px;
      margin-bottom: 12px;
   }
   .home-article-gallery .read-more-link {
      font-size: 16px;
   }
   .read-more-link i img {
      width: 6px;
   }
   .home-article-gallery .overlay-text {
      bottom: -68px;
   }
}
/* max-width 1440px */
@media only screen and (max-width: 1440px) {
   .title-h5 {
      font-size: 18px;
      letter-spacing: 1px;
   }
   .index-header .title-h1 {
      font-size: 100px;
      margin-bottom: 20px;
   }
   .paragraph {
      font-size: 18px;
      line-height: 28px;
   }
   .explore .content-link img {
      width: 45px;
   }
   /* home articles */
   .title-h3 {
      font-size: 28px;
   }
   .home-popup-head {
      min-height: 60px;
   }
   .home-popup .head-title .title-h3 {
      margin-left: 100px;
   }
   .close-button img {
      max-height: 60px;
   }
   .close-button {
      width: 70px;
   }
   /* home inventions */
   .home-inventions .title-h4 {
      font-size: 20px;
      letter-spacing: 0.24px;
      line-height: 27px;
   }
}
/* max-width 1200px */
@media only screen and (max-width: 1200px) {
   /* main logo */
   .main-logo {
      width: 150px;
   }
   /* home page */
   /* .navbar {
      height: 90px;
   } */
   .index-header .title-h1 {
      font-size: 80px;
   }
   .title-h5 {
      font-size: 16px;
      letter-spacing: 0.8px;
   }
   .paragraph {
      font-size: 16px;
      line-height: 24px;
   }
   .explore .content-link img {
      width: 38px;
   }
   .explore .content-link .icon {
      margin-bottom: 18px;
   }
   footer .footer-paragraph {
      font-size: 14px;
      margin-top: 5px;
   }
   footer .footer-link {
      font-size: 16px;
   }
   /* home articles */
   .title-h4 {
      font-size: 18px;
   }
   /* home inventions */
   .home-inventions .title-h4 {
      font-size: 17px;
      line-height: 21px;
      margin-bottom: 0;
   }
   .home-inventions .text-content {
      padding: 12px 0;
   }
   .default-btn {
      padding: 16px 22px;
   }
   .tag-span {
      font-size: 14px;
   }
}
/* max-width 991px */
@media only screen and (max-width: 991px) {
   .home-popup {
      height: auto;
   }
   .index-header .title-h1 {
      font-size: 70px;
      margin-bottom: 12px;
   }
   .paragraph {
      font-size: 16px;
      line-height: 24px;
   }
   .explore .content-link .icon {
      margin-bottom: 15px;
   }
   /* home invention */
   .home-invention-gallery-content {
      max-width: 480px;
      margin: 0 auto;
   }
}
/* max-width 768px */
@media only screen and (max-width: 767px) {
   .title-h3 {
      font-size: 24px;
   }
   /* home page */
   .main-container,
   .slider-container {
      overflow: hidden;
      padding: 0 30px;
   }
   /* home articles */
   .home-article-gallery .home-article-gallery-container {
      padding: 0 30px;
   }
   .home-article-gallery .overlay-text {
      padding-top: 10px;
   }
   .home-popup .head-title {
      width: 100%;
      justify-content: flex-end;
      margin-right: 30px;
   }
   .home-article-gallery .text-content .title-h4 {
      padding-top: 5px;
   }
   /* inventions */
   .home-popup .head-title .title-h3 {
      margin-left: 0;
   }
   /* rectangle box */
   .rectangle-box.box-b {
      display: none;
   }
}
/* max-width 576px */
@media only screen and (max-width: 575px) {
   header.index-header {
      height: auto;
   }
   .paragraph {
      width: 100% !important;
   }
   .default-btn {
      width: 100%;
   }
   /* .home-articles */
   .home-article-gallery .text-content .title-h4 {
      padding-top: 0;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 600;
   }
   .home-article-gallery .read-more-link {
      font-size: 14px;
   }
   .read-more-link i img {
      width: 5px;
   }
}
/* mx-width 440 */
@media only screen and (max-width: 440px) {
   .title-h6 {
      font-size: 14px;
   }
}

/* min and max width */
/* 992px to 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
   .home-articles .default-btn {
      font-size: 13px;
      padding: 14px 20px;
      letter-spacing: 0.2px;
   }
}
/* responsive end */
